/*start global*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color: #eee;
}

body {
    width: 100%;
    height: 100%;
    background: url("images/sitebg.jpg") no-repeat center fixed;
    background-size: cover;
}

section {
    padding: 6rem 0;
}

a {
    text-decoration: none;
    color: #eee;
}

p {
    font-size: 1.8rem;
    font-weight: 300;
}

img {
    width: 100%;
}
/*end global*/



/*start reusable*/
.container {
    width: 90%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.section-heading {
    text-align: center;
    margin-bottom: 10rem; 
}

.section-heading h1 {
    font-size: 3.5rem;
    color: rgba(255, 255, 255, .3);
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-bottom: 1rem;
}

.section-heading h6 {
    font-size: 1.6rem;
    font-weight: 300;
}

.section-heading h1::before,
.section-heading h1::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.75);
    bottom: -.5rem;
}

.section-heading h1::before {
    width: 10rem;
    height: 3px;
    border-radius: .8rem;
}

.section-heading h1::after {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    bottom: -1rem;
}
/*end reusable*/



/*start header*/
header {
    width: 100%;
    height: 100vh;
}

.top-nav {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 50;
    background-color: #242424;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    transition: all 650ms cubic-bezier(1,0,0,1);
    top: -100vh;
}

.nav-list {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    margin: 0 2rem;
}

.nav-link {
    font-size: 5rem;
    font-weight: 100;
    padding: 1rem;
    font-weight: 600;
    font-family: 'Arizonia', sans-serif;

}

.nav-link:hover,
.nav-link:focus {
    background: linear-gradient(to top, #faa628, #c849eb);
    -webkit-background-clip: text;
    color: transparent; /*-webkit-text-fill-color: transparent;*/
}

.top-nav.open {
    top: 0;
    border-radius: initial;
}

.menu-toggler {
    position: absolute;
    top: 5rem;
    right: 5rem;
    width: 5rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1500;
    transition: transform 650ms ease-out;
    cursor: pointer;
}

.menu-toggler.open {
    transform: rotate(-45deg);
}

.bar {
    background: linear-gradient(to right, #faa628, #c849eb);
    width: 100%;
    height: 4px;
    border-radius: .8rem;
}

.bar.half {
    width: 50%;
}

.bar.start {
    transform-origin: right;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.start {
    transform: rotate(-450deg) translateX(.8rem);
}

.bar.end {
    transform-origin: left;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    align-self: flex-end;
}

.open .bar.end {
    transform: rotate(-450deg) translateX(-.8rem);
}

.landing-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100%;
    text-align: center;
}

.landing-text h1 {
    font-size: 15rem;
    font-family: 'Arizonia', sans-serif;
    background: linear-gradient(to top, #faa628, #c849eb);
    -webkit-background-clip: text;
    color: transparent; /*-webkit-text-fill-color: transparent;*/
    padding: 1rem;
    user-select: none;
}

.landing-text h6 {
    font-size: 2rem;
    font-weight: 100;
}
/*end header*/



/*start about*/
.about .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-heading {
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-bottom: 6rem;
}

.about-heading h1 {
    font-size: 10rem;
    opacity: .3;
}

.about-heading h6 {
    font-size: 2rem;
    font-weight: 300;
}

.profile-img {
    flex: 1;
    margin-right: 5rem;
}

.about-details {
    flex: 1;
}

.social-media {
    margin-top: 5rem;
}

.social-media i {
    font-size: 5rem;
    transition: color 650ms;
}

.fa-facebook-square:hover {
    color: #4267b2;
}

.fa-twitter-square:hover {
    color: #38a1f3;
}
/*end about*/




/*start services*/
.my-skills {
    margin-top: 5rem; /*10*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
    text-align: center;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.skill h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 2rem -2px 2rem 0;
}

.icon-container {
    width: 10rem;
    height: 10rem;
    border: 3px solid #faa628;
    background-color: #c849eb;
    margin-bottom: 2rem;
    display: flex;
    transform: rotate(45deg);
}

.icon-container i {
    color: #faa628;
    font-size: 5rem;
    margin: auto;
    transform: rotate(-45deg);
}
/*end services*/



/*start timeline*/
.timeline ul {
    width: 70%;
    text-align: left;
    margin: 0 auto;
    padding: 5rem;
    position: relative;
    border-left: 4px solid #faa628;
    border-radius: .8rem;
    background-color: rgba(0, 0, 0, .15);
    list-style: none;
}

.timeline h1 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    opacity: .3;
    margin-bottom: 1rem;
}

.timeline .date {
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    position: relative;
}

.timeline .date:last-of-type {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.timeline .date::before,
.timeline .date::after {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
}

.timeline .date::before {
    content: attr(data-date);
    left: -21rem;
    text-align: right;
    min-width: 12rem;
    font-size: 1.5rem;
}

.timeline .date::after {
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    box-shadow: 0 0 0 4px #c849eb;
    border-radius: 100%;
    left: -8rem;
    background-color: #161616;
}
/*end timeline*/




/*start contact*/
form {
    width: 70%;
    margin: 0 auto;
    /*background-color: rgba(0, 0, 0, .15);*/
}

form label {
    font-size: 1.5rem;
}

input,
select,
textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 5px;
    border: none;
    outline-color: #c849eb;
    /*border-radius: .8rem*/
}

input[type="submit"] {
    width: initial;
    background-color: #c849eb;
    color: #eee;
    padding: 1rem 2rem;
    border-radius: .8rem;
    cursor: pointer;
    transition: background-color 650ms;
}

input[type="submit"]:hover {
    /*color: #221e3f;*/
    background-color: #faa628;
}
/*end contact*/




/*start footer*/
.copyright {
    width: 100%;
    text-align: center;
    background-color: #161616;
    padding: 2rem 0;
    position: relative;
}

.up {
    width: 5rem;
    height: 5rem;
    background-color: #eee;
    border-radius: 100%;
    position: absolute;
    top: -2.5rem;
    right: 5rem;
    display: flex;
    animation: pulse 2s infinite;
    cursor: pointer;
}

.up .fa-angle-double-up {
    color: #202020;
    font-size: 2rem;
    margin: auto;
}

.copyright p {
    font-size: 1.2rem;
}
/*end footer*/



/*star animation*/
@keyframes pulse {
    0%{
        box-shadow: 0 0 0 0 rgba(200, 73, 235, 0.99);    
    }
    70%{
        box-shadow: 0 0 0 2rem rgba(200, 73, 235, 0);    
    }
    100%{
        box-shadow: 0 0 0 0 rgba(200, 73, 235, 0);    
    }
}
/*end animation*/




/*media queries*/
@media screen and (max-width: 768px) {
    .landing-text h1 {
        font-size: 13rem;
    }

    .landing-text h6 {
        font-size: 1.7rem;
    }
    .nav-list {
        flex-direction: column;
    }
    li {
        margin: 2rem 0;
    }
    .nav-link {
        font-size: 4.5rem;
    }
    .about-heading h1 {
        font-size: 8rem;
    }
    .section-heading h1 {
        font-size: 3rem;
    }
    .about-details .nav-list {
        flex-direction: initial;
    }
    .about-details li {
        margin: 0 2rem;
    }
    .icon-container {
        width: 7rem;
        height: 7rem;
    }
    .icon-container i {
        font-size: 4rem;
    }
    .timeline ul {
        margin: 0 0 0 auto;
    }
    .timeline .date::before {
        left: -20rem;
    }
    .timeline .date::after {
        left: -5.9rem;
    }
}

@media screen and (max-width: 600px) {
    .menu-toggler {
        top: 2rem;
        right: 2rem;
    }
    .landing-text h1 {
        font-size: 8rem;
    }

    .landing-text h6 {
        font-size: 1.4rem;
    }
    .nav-link {
        font-size: 3.5rem;
    }
    .about .container {
        flex-direction: column;
    }
    .profile-img {
        margin: 0 0 7rem 0;
    }
    .timeline p {
        font-size: 1.6rem;
    }
    .timeline .date::before {
        font-size: 1.4rem;
    }
    form {
        width: 100%;
    }
    .up {
        right: 2rem;
    }
}
















